*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --mainColor: #0d6efd;
  --mainColorLight :rgb(74, 164, 220);
  --secondaryColor:white;
  --textColor:white;
}
body{
  margin: 0;
  padding: 0;
}

button {
  outline: 0;
  transition: 0.3s linear;
}

button:active {
  transform: scale(0.85);
}